* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

.col-3 {
    float: left;
    width: 25%;
}

.col-6 {
    float: left;
    width: 50%;
}

.col-12 {
    align-self: center;
    margin-bottom: 0;
    width: 100%;
}

.foot {
    margin-top: 60px;
}

.logo {
    border-style: ridge;
    border-bottom: black;
    border-top: black;
    border-left: none;
    border-right: none;
}

