* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .foot-top {
      text-align: center;
      justify-content: center;
      margin-bottom: 0%;
  }

  .foot-bottom {
    margin-top: 0%;
    text-align: center;
    justify-content: center;
}