/* For Cell */
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-6 .mail {
      margin-bottom: 200px;
      float: left;
      width: 100%;
  }

  .col-6 .email {
    width: 100%
  }

  .col-12 .form {
      margin-left: 10px;
      width: 100%;
  }

  h5 {
    margin: 10px;
  }

  p {
      font-size: 12px;
      margin-top: 0px;
      padding: 0px;
  }

  /* For Laptop */
  @media only screen and (min-width: 1024px) {
    .col-6 {
      padding-left: 10%;
    } 

    .email {
      font-size: 12pt;
      padding-right: 0%;
      width: 50%;
    }

    .emailAddress {
      font-size: 12pt;
    }

    .mail {
      padding-left: 0%;
      width: 50%;
    }
  }



  