* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

.col-3 {
    float: left;
    width: 25%;
}

.col-6 {
    float: left;
    width: 50%;
}

.col-12 {
    width: 100%;
}