* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h6 {
      color: grey;
      margin-bottom: 0;
      width: 100%;
      text-align: center;
  }