/* For Cell */
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-12 {
      text-align: center;
      width: 100%;
  }

  @media only screen and (max-width: 600px) {
      .col-12 {
        display: block;
        padding: 0 0 5px 5px;
        clear: both;
      }

      .btn {
        margin-left: 2%;
        margin-top: 5%;
      }

      input[type=radio] {
        float: left;
        width: 20px;
        margin-left: 35%;
        margin-right: -25%;
        margin-top: 1%; 
        
      }

      .search {
        margin-left: 2%;
        margin-top: 5%;
        padding: 0%;
        width: 40%;
      }
      .search:focus {
        text-align: left;
      }
      
      ::placeholder {
        text-align: center;
      }
    }