/* For Cell */

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .responsive-image__image {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 15%;
    width: 75%;
    height: 75%;
    padding: 10px;
  }

  /* For Desktop */
  @media only screen and (min-width: 1024px) {
    .responsive-image__image {
       width: 30%;
       height: auto;
       margin-left: 20%;
    }
  }