/* For Cell */

* {
    box-sizing: border-box;
  }

  .col-6_nav {
      width: 50%;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

nav li {
    font-size: small;
    padding: 3px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 20px;
}
 

/* For Desktop */
@media only screen and (min-width: 700px) {
  nav li {
    float: left;
    font-size: 10pt;
    padding-top: 10px;
    padding-right: 0px;
  }

  nav ul {
    margin-right: 5%;
    margin-left: -10%;
    margin-top: 25%;
  }
}