.default {
    float: left;
    list-style: none;
    max-width: 100%;
    height: auto;
}

.links {
    font-size: 20px;
}

li {
    font-size: 10px;
    padding-bottom: 25px;
    text-decoration: none;
}